
#todolist{
	width: 980px;
	margin: 0px;
	background-color: #6e7376;
	padding-bottom: 10px;
}

#todo {
	padding: 20px;
	margin-bottom: 20px;
	background-color: #f58730;
	
	h2{
		font-size: 120px;
		color: #2f3a50;
		text-align: center;
		margin-bottom: 20px;
	}

	input:nth-of-type(1){
		width: 80%;
		height: 100px;
		margin-right: 15px;
	}

	input:nth-of-type(2){
		width: 18%;
		height: 100px;
		border-style: none;
		background-color: #2f3a50;
		color: white;
		transition: all 0.2s ease;
	}

	input{
		font-size: 60px;
	}

	input:nth-of-type(2):active{
		margin-top: 0px;
		height: 85px;
	}
}

#list {
	word-wrap: break-word;
	overflow: hidden;
}

.nameOfItem{
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 20px;
	font-size: 56px;
	padding-left: 10px;
	width: 650px;
	height: 140px;		
	background: #88a2b5;
	float: left;
}

.item{
	width: 960px;
}

.assignButton, .deleteButton, .countOfAssignedUsers{
	height: 140px;
	font-size: 30px;
	float: left;
}

.assignButton, .deleteButton{
	width: 100px;
	cursor: pointer;
	transition: background-color 0.2s ease;
	border-style: none;
	margin-left: 5px;
}

.deleteButton {
	background-color: #ffb1b1;
}

.deleteButton:active{
	margin-top: 0px;
	height: 140px;
}

.countOfAssignedUsers{
	width: 70px;
	padding-top: 50px;
	text-align: center;
	vertical-align: middle;
	background-color: #f58730;
	padding-top: 55px;
}

.strikethrough {
	text-decoration: line-through;
}



@media (min-device-width: 768px) {
	
	#todolist {
		width: 850px;
		margin: 10px auto;
	}

	#todo {
		h2 {
			font-size: 36px;
		}

		h2+input{
			margin-right: 0px!important;
			width: 740px!important;
			height: 35px!important;
		}
	}

	#todo input:last-child{
		cursor: pointer;
		height: 35px;
		width: 60px;
		margin-left: 4px;
	}

	#todo input:last-child:hover{
		background-color: #4b5d82;
	}

	#todo input:last-child:active{
		margin-top: 2px;
		height: 26px;
	}

	#todo input {
		font-size: 22px;
	}

	#list {
		margin-top: 20px;
	}

	.nameOfItem {
		font-size: 18px;
		width: 640px;
		padding-left: 30px;
		padding-top: 6px;
		padding-bottom: 5px;
		height: 30px;
	}

	.deleteButton, .assignButton {
		font-size: 14px;
		height: 30px;
		width: 60px;
	}

	.deleteButton{
		margin-left: 5px;
	}

	.deleteButton:hover{
		background-color: #fd3434;
	}

	.deleteButton:active{
		margin-top: 2px;
		height: 26px;
	}

	.assignButton:hover{
		background-color: white;
	}

	.item {
		width: 850px;
		min-height: 35px;
	}

	.countOfAssignedUsers{
		width: 30px;
		height: 30px;
		padding-left: 0px!important;
		padding-top: 11px!important;
	}

	.countOfAssignedUsers h6{
		font-size: 10px;
	}
}